/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset ends here */

* {
  border:1px solid #666666;
}

body {
  font-size: ;
  font-family: ;
  height: 100vh
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gray;
}

h1 {
  @import url('https://fonts.googleapis.com/css2?family=Kufam:ital@1&display=swap');
  font-size: 3rem;
  font-family: 'Kufam', cursive;
  color: maroon;
  margin-left: 5%;
}

a {
  text-decoration: none;
}

nav {
  margin-right: 2.5%;
  justify-content:space-evenly;
  align-content: center;
  height: 20px;
}

.homeButton {
  color: white;
  background-color: maroon;
  transition: .3s;
}

.homeButton:hover {
  color: maroon;
  background-color: white;
}

.aboutButton {
  color: maroon;
  background-color: white;
  transition: .3s;
}

.aboutButton:hover {
  color: white;
  background-color: maroon;
}

.contactButton {
  color: maroon;
  background-color: white;
  transition: .3s;
}

.contactButton:hover {
  color: white;
  background-color: maroon;
}

.projectsButton {
  color: maroon;
  background-color: white;
  transition: .3s;
}

.projectsButton:hover {
  color: white;
  background-color: maroon;
}

.sectionFam {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  height: 300px;
}

.div1 {
  background-image: url(https://picsum.photos/150);
}

.divName {
  font-family: 'Kufam', cursive;
  color: maroon;
}

.divButton {

}


.sectionProjects {
    display: flex;
    /* justify-content: space-evenly; */
    align-content: space-evenly;/*come back to this*/
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 80vh;
}

.image {
  background: url(https://picsum.photos/150);
  height: 150px;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text {
    font-family: arial;
    font-size: 1.2rem;
    opacity: 0;
    transition: .3s;
  } 
  .text a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
  }

  .image:hover .text{
    opacity:1;
  }

  footer {
    background-color: ;
  }